<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>





<body> 
    File successfully uploaded
    

    
        {% for i in range(size) %}
        <form action="{{ url_for('com_up') }}" method = "POST">
        <input type="hidden" name="img_url" value={{image_name_list[i].filename}} >
        <input type="hidden" name="img_nm" value={{image_name_we[i]}} >
        <input type="radio" name="classify" value="appitizer">Appitizer<br>
        <input type="radio" name="classify" value="main_course">Main Course<br>
        
        <p>
            <h6>Price</h6>
            <input type = "number" name = "price" id="price" >
        </p>
        <p>
            <h6>Remain</h6>
            <input type = "number" name = "remain" id="remane" >
        </p>
        <input type = "submit" value = "submit">
        </form>

        <h5>{{image_name_list[i].filename}}</h5>
        <h5>{{image_name_we[i]}}</h5>
        {% endfor %}
        
    
    
    
    {% for i in image_name_list %}
    <p>{{i.filename}}</p>
    {% endfor %}

    <a href="/">upload file</a>
    <a href="/gallery.html">gallery</a>
    <a href="/home">home</a>
</body>
<script>





</script>
</html>