<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
            
        </div>
        <div class = "col-lg-1">
            <a href="/">upload file</a>
            <a href="/home">home</a>
        </div>
        <!--{{image_names}}-->
        <hr>
        
        {% for image_name in image_names %}
        <div class = "row"></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">
                <p>{{image_name}}</p>
            </div>
        {% endfor %}
        
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


</body>
</html>