<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server mysql</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    
    /*function add(nm){
        document.getElementById(nm).innerHTML = toString(parseINT(document.getElementById(nm).innerHTML) + 1);

    }
    function minus(nm){
        document.getElementById(nm).innerHTML = toString(parseINT(document.getElementById(nm).innerHTML) - 1);


    }*/
    
    
    
    
    
    
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    


    
</head>

<body>
    <div class="row">

    </div>
       <a href="/">_Return to Home Page_</a>
        <a href="/up">_Upload More Files_</a>
        <a href="/home">_Home_</a> 
    
    <div class="container">

        <div class="row">
            <!--{{image_names}}-->
            <hr>
            {% for layer2 in list_of_names%}
            <h2>{{layer2[0]}}</h2>
            <iframe name="votsr" style="display: none;"></iframe>
            {% for items in layer2[1] %}
            <div class = "row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div>
                        <h4> {{ items[1] }} </h4>
                        <img class="img-responsive" src=" {{url_for('send_image', filename=items[4])}}">
                        <div id={{ items[1] }}>
                        <!--<iframe name="votsr" style="display: none;"></iframe>-->
                            <form action="{{ url_for('change') }}" method = "POST" target="votsr">
                                <input type="hidden" name="classify" value={{ layer2[0] }}>
                                <input type="hidden" name="img_nm" value={{ items[1] }}>
                                <input type="hidden" name="img_url" value={{ items[4] }}>
                                <div>
                                    <!--<h5> price = {{ items[2] }}</h5>-->
                                    <div id={{ items[6] }} >{{ items[2] }}</div>
                                    <!--<button id='plus1' onclick="add('first')">+</button>-->
                                    <input id='in1' type="number" name="price" value={{ items[2] }} >
                                    <!--<button id='minus1' onclick="minus('first')">-</button>-->
                                </div>
                            
                                <div>
                                    <!--<h5> remain = {{ items[3] }} </h5>-->
                                    <div id={{ items[7] }}>{{ items[3] }}</div>
                                    <!--<button id='plus2' onclick="add('second')">+</button>-->
                                        <input id='in2' type="number" name="remain" value={{ items[3] }} >
                                <!--<button id='minus2'onclick="minus('second')">-</button>-->
                                </div>
                                <input type="submit" value="comfirm change">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            
        </div>
    </div>

</body>
<script type="text/javascript">

/*function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default, if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);

        form.appendChild(hiddenField);
    }

    document.body.appendChild(form);    // Not entirely sure if this is necessary
    form.submit();
}

    post_to_url('/get_st', {});*/

window.onload = function(){
    var timeoutID = setInterval(renew, 1000);
}

function renew(){
    $.post("get_st",function(data){
        //alert(data["appitizer"]);
        for(var content in data){
            //alert(data[content][0]);
            //alert(data[content][1]);
            //alert(data[content][1][1]);
            //alert(data[content][1][2]);
            for( i = 0 ; i < data[content].length ; i++){
            
                /*console.log(data[content][i][1]);
                console.log(data[content][i][2]);
                console.log(data[content][i][3]);
                console.log(data[content][i][4]);*/
                document.getElementById(data[content][i][3]).innerHTML = data[content][i][1];
                document.getElementById(data[content][i][4]).innerHTML = data[content][i][2];
            }
        }

    });
}



</script>
<style>
    #par2 {display:inline} 
    #par3 {display:inline} 
    #par4 {display:inline} 

</style>