<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Fuck</h1>
    <script>

        var listing = [0];
        //document.getElementById("showing").innerHTML = count;

        function clicker_plus( str , listing , cnt){
            listing[cnt]++;
            document.getElementById(str).innerHTML = listing[cnt];
            return 
        }
        function clicker_minus( str , listing , cnt){
            if(listing[cnt] >= 1){
                listing[cnt]--;
                document.getElementById(str).innerHTML = listing[cnt];
            }
        }
    </script>
</head>



<body>

    <!--{{image_names}}-->
    <div id="first">
        <button id='plus1' , onclick="clicker_plus('fuckerrr',listing,0)">+</button>
        <input type="number" , id="numb" , name="num">
        <button id='minus1' , onclick="clicker_minus('fuckerrr',listing,0)">-</button>
    </div>
    <!--
    <div id="first">
        <button id='plus1' , onclick="clicker_plus('numb',listing,0)">+</button>
        <input type="number" , id="numb" , name="num">
        <button id='minus1' , onclick="clicker_minus('numb',listing,0)">-</button>
    </div>
    -->
    <h1>The value for number is:  
         <p id = "fuckerrr">0</p>
    </h1>




    <iframe name="votar" style="display:none;"></iframe>
    <form action="{{ url_for('test3') }}" method="post" target="votar">
        <input type="submit" value="Skicka Tips">
        <input type="number" name="ad_id" value="2">            
    </form>
    
</body>
<style>
    #first {display:inline} 



</style>

