
<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <div>Dish name is the file name!</div>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    <div id="msg"></div>
    <input type="submit" value="Upload!" id="upload-button">

    <a href="/home">home</a>
    <a href="/gallery">gallery</a>
</form>





</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');
        

        for (var i=0; i<input.files.length; i++){
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            //window.alert(input.files[i].name)
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>